@media (max-width: 768px) {
  section {
    min-height: 620px; }
    section header ul {
      float: none; }
      section header ul li:first-child {
        margin-left: 0; }
      section header ul li:not(:first-child) {
        display: none; }
      section header ul li.icon {
        float: right;
        display: block; }
    section header ul.responsive {
      position: relative; }
      section header ul.responsive li {
        float: none;
        display: block;
        width: 100%;
        margin-left: 0;
        padding: 13px 0 13px 25px;
        text-align: left;
        -webkit-border-radius: 0;
                border-radius: 0; }
        section header ul.responsive li:hover {
          background: rgba(116, 199, 213, 0.3) !important; }
      section header ul.responsive li.icon {
        padding: 13px 0;
        width: 100px;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center; }
    section#home .owl-carousel {
      top: 250px; } }
