/*--- Colors ---*/
/*--- Var ---*/
body {
  background: #222;
  color: #fff; }
  body ul, body li {
    margin: 0;
    padding: 0; }
  body p {
    font: 14px/1.5 'OpenSans-Regular'; }
  body a:hover, body a:focus {
    color: #fff;
    text-decoration: none; }

section {
  min-height: 1000px;
  margin: 0 auto;
  overflow: hidden; }
  section header #logo {
    padding-top: 8px;
    font: 50px/1.5 'Damion', sans-serif;
    text-align: left; }
  section header ul {
    float: right;
    margin: 0;
    padding: 0; }
    section header ul li {
      float: left;
      width: 100px;
      padding: 37px 0 13px 0;
      list-style: none;
      text-align: center;
      -webkit-border-radius: 0 0 4px 4px;
              border-radius: 0 0 4px 4px; }
      section header ul li a {
        font: 18px/1.5 'Regular', sans-serif;
        font-size: 18px;
        color: #fff; }
    section header ul li.icon {
      display: none; }
    section header ul li + li {
      margin-left: 8px; }
  section .header_box {
    margin-top: 110px;
    margin-bottom: 120px;
    text-align: center; }
    section .header_box h1 {
      margin-bottom: 40px;
      text-transform: uppercase;
      font: 60px/1 'OpenSans-Light', sans-serif; }
    section .header_box h2 {
      text-transform: uppercase;
      font: 20px/1 'OpenSans-Regular', sans-serif; }
      section .header_box h2 span {
        color: #ec9da2; }
    section .header_box p {
      font-size: 14px; }
  section .services-box-sm {
    margin-bottom: 30px;
    padding: 40px 30px;
    text-align: center; }
    section .services-box-sm h4 {
      margin-bottom: 45px;
      text-transform: uppercase; }
    section .services-box-sm .icon {
      display: inline-block;
      margin-bottom: 25px;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
      section .services-box-sm .icon img {
        -webkit-border-radius: 50%;
                border-radius: 50%; }
  section#home {
    background: url("../img/bg-home.jpg");
    background-size: cover; }
    section#home ul li:hover, section#home ul li.active {
      background-color: #74c7d5; }
    section#home .owl-carousel {
      height: 170px;
      top: 420px;
      -webkit-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
              transform: translateY(-100%); }
      section#home .owl-carousel .owl-stage-outer .item {
        display: block;
        width: 840px;
        min-height: 170px;
        margin: 0 auto;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        background: rgba(255, 255, 255, 0.3);
        overflow: hidden; }
        section#home .owl-carousel .owl-stage-outer .item h1 {
          display: inline-block;
          margin: 0;
          text-transform: uppercase;
          text-align: right;
          color: #74c7d5; }
          section#home .owl-carousel .owl-stage-outer .item h1:nth-child(1) {
            width: 45%;
            font: 60px/1 'OpenSans-Light', sans-serif; }
            section#home .owl-carousel .owl-stage-outer .item h1:nth-child(1) span {
              text-transform: none; }
          section#home .owl-carousel .owl-stage-outer .item h1:nth-child(2) {
            width: 49%;
            font: 140px/1 'OpenSans-Bold', sans-serif; }
      section#home .owl-carousel .owl-next,
      section#home .owl-carousel .owl-prev {
        width: 34px;
        height: 56px;
        position: absolute;
        top: 0; }
      section#home .owl-carousel .owl-next {
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        right: 48px;
        background: url(../img/arrow-right.png); }
      section#home .owl-carousel .owl-prev {
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        left: 48px;
        background: url(../img/arrow-left.png); }
      section#home .owl-carousel .owl-dots {
        margin-top: 15%; }
        section#home .owl-carousel .owl-dots .owl-dot.active span {
          background-color: #74c7d5; }
        section#home .owl-carousel .owl-dots .owl-dot span {
          width: 20px;
          height: 20px;
          margin-right: 40px;
          background: rgba(255, 255, 255, 0.5); }
  section#services {
    background: url(../img/bg-services.jpg);
    background-size: cover; }
    section#services ul li:hover, section#services ul li.active {
      background-color: #df5c64; }
    section#services .services-box-sm {
      background: #c8535a; }
      section#services .services-box-sm h4 {
        font: 30px/1 'OpenSans-Light', sans-serif; }
      section#services .services-box-sm .icon {
        border: 5px solid #fff; }
        section#services .services-box-sm .icon img {
          border: 5px solid #c8535a; }
  section#about {
    background: url(../img/bg-about.jpg);
    background-size: cover; }
    section#about header ul li:hover, section#about header ul li.active {
      background-color: #91778e; }
    section#about .header_box {
      margin-bottom: 58px; }
    section#about .box_bulb {
      width: 276px;
      margin: 0 auto 70px auto;
      padding: 17px 42px 15px 42px;
      text-align: center;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      background: #A1CA6C;
      position: relative; }
      section#about .box_bulb:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        margin: 0 auto;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #A1CA6C;
        position: absolute;
        right: 0;
        left: 0;
        bottom: -15px; }
      section#about .box_bulb p {
        margin: 0;
        font: 25px/1 'OpenSans-Bold', sans-serif; }
    section#about .services-box-sm {
      background: rgba(76, 63, 75, 0.5); }
      section#about .services-box-sm h4 {
        margin-bottom: 0;
        font: 25px/1 'OpenSans-Bold', sans-serif; }
      section#about .services-box-sm h5 {
        margin-bottom: 37px;
        font: 14px/1 'OpenSans-Bold', sans-serif;
        color: #a1ca6c; }
      section#about .services-box-sm .social li {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: #A1859E;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        line-height: 30px; }
        section#about .services-box-sm .social li a {
          color: #fff; }
      section#about .services-box-sm .social li:nth-child(1):hover {
        background: #4F689E; }
      section#about .services-box-sm .social li:nth-child(2):hover {
        background: #74C7D5; }
      section#about .services-box-sm .social li:nth-child(3):hover {
        background: #DF5C64; }
      section#about .services-box-sm .social li:nth-child(4):hover {
        background: #3E61AF; }
      section#about .services-box-sm .social li + li {
        margin-left: 19px; }
      section#about .services-box-sm .icon {
        width: 155px;
        height: 155px;
        background: url("../img/about_icon.jpg");
        border: 5px solid #A1859E; }
    section#about .services-box-sm:hover {
      background: #4c3f4b; }
      section#about .services-box-sm:hover h5 {
        color: #ff8973; }
      section#about .services-box-sm:hover .icon {
        background: url("../img/about_icon_hover.jpg");
        border: 5px solid #DF5C64; }
  section#work {
    min-height: 1150px;
    background: url(../img/bg-work.jpg);
    background-size: cover; }
    section#work header ul li:hover, section#work header ul li.active {
      background-color: #a1ca6c; }
    section#work .header_box {
      margin-bottom: 60px; }
    section#work .gallery {
      max-width: 1100px;
      margin: 0 auto; }
      section#work .gallery .tab_links {
        padding: 32px 0;
        border-top: 1px solid #94b963;
        border-bottom: 1px solid #94b963; }
        section#work .gallery .tab_links h4 {
          float: left;
          font-family: 'OpenSans-Bold' , sans-serif;
          text-transform: uppercase; }
        section#work .gallery .tab_links ul {
          float: right;
          line-height: 40px; }
          section#work .gallery .tab_links ul li {
            float: left; }
            section#work .gallery .tab_links ul li a {
              padding: 10px;
              -webkit-border-radius: 3px;
                      border-radius: 3px;
              font-family: 'OpenSans-Bold' , sans-serif;
              color: #fff; }
              section#work .gallery .tab_links ul li a:hover {
                background: #f5c149; }
          section#work .gallery .tab_links ul li.active a {
            background: #f5c149; }
          section#work .gallery .tab_links ul li + li {
            margin-left: 45px; }
      section#work .gallery .tab_content {
        padding: 20px 0; }
        section#work .gallery .tab_content .tab_content_elem {
          width: 260px;
          height: 250px;
          margin: 20px 20px 0 0;
          padding: 0;
          -webkit-border-radius: 3px;
                  border-radius: 3px;
          position: relative;
          background: #000;
          overflow: hidden; }
          section#work .gallery .tab_content .tab_content_elem p {
            width: 100%;
            height: 50px;
            margin: 0;
            text-transform: uppercase;
            text-align: center;
            font: 14px/50px 'OpenSans-Regular' , sans-serif;
            color: #727272;
            background: #fff;
            position: absolute;
            bottom: 0;
            z-index: 999; }
            section#work .gallery .tab_content .tab_content_elem p:before {
              content: '';
              display: block;
              margin: -20px auto 0 auto;
              width: 0;
              height: 0;
              border-left: 20px solid transparent;
              border-right: 20px solid transparent;
              border-bottom: 20px solid #fff; }
        section#work .gallery .tab_content .tab_content_elem {
          position: relative; }
          section#work .gallery .tab_content .tab_content_elem:hover:after {
            content: '';
            display: block;
            width: 100%;
            height: 200px;
            position: absolute;
            top: 0;
            background: url("../img/hover-elem.png") no-repeat 50% center, -webkit-gradient(linear, left top, left bottom, from(rgba(61, 76, 41, 0.7)), to(rgba(61, 76, 41, 0.7)));
            background: url("../img/hover-elem.png") no-repeat 50% center, -webkit-linear-gradient(rgba(61, 76, 41, 0.7), rgba(61, 76, 41, 0.7));
            background: url("../img/hover-elem.png") no-repeat 50% center, linear-gradient(rgba(61, 76, 41, 0.7), rgba(61, 76, 41, 0.7));
            cursor: pointer;
            z-index: 999; }
          section#work .gallery .tab_content .tab_content_elem:nth-child(4n) {
            margin-right: 0; }
  section#contact {
    margin-bottom: 150px;
    background: url("../img/bg-contact.jpg");
    background-size: cover; }
    section#contact p {
      margin: 0;
      font-size: 16px; }
    section#contact header ul li:hover, section#contact header ul li.active {
      background-color: #82c8bd; }
    section#contact h2 {
      margin-left: 15px;
      margin-bottom: 35px;
      font: 30px/1 'OpenSans-Light' , sans-serif; }
    section#contact .street {
      margin-bottom: 75px; }
      section#contact .street h4 {
        margin-bottom: 15px;
        font: 20px/1 'OpenSans-Bold', sans-serif;
        color: #c0dfda; }
    section#contact .info {
      width: 200px; }
      section#contact .info p {
        display: inline-block;
        width: 70px;
        color: #d0efea; }
      section#contact .info span a {
        color: #fff;
        text-decoration: underline; }
        section#contact .info span a:hover {
          text-decoration: none; }
    section#contact .map {
      width: 260px;
      height: 220px;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      background: url("../img/map.jpg"); }
    section#contact form {
      text-align: center;
      margin-bottom: 45px; }
      section#contact form input[type="text"],
      section#contact form input[type="button"],
      section#contact form textarea {
        padding: 15px 20px;
        border: 0;
        outline: 0;
        font-family: 'La';
        color: #b5b5b5;
        background: #68a097; }
      section#contact form input[type="text"]:focus,
      section#contact form textarea:focus {
        background: #fff; }
      section#contact form input[type="text"] {
        width: 260px;
        height: 40px;
        margin-bottom: 20px;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        font-size: 100%; }
        section#contact form input[type="text"]:first-child {
          margin-right: 15px; }
      section#contact form input[type="button"] {
        width: 260px;
        height: 50px;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        background: #df5c64;
        -webkit-box-shadow: 0 5px 0 #b24a50;
                box-shadow: 0 5px 0 #b24a50;
        text-transform: uppercase;
        font: 30px/0.5 'OpenSans-Bold', sans-serif;
        color: #fff; }
        section#contact form input[type="button"]:active {
          -webkit-box-shadow: 0 2px 0 #b24a50;
                  box-shadow: 0 2px 0 #b24a50;
          -webkit-transform: translateY(3px);
              -ms-transform: translateY(3px);
                  transform: translateY(3px); }
      section#contact form textarea {
        width: 540px;
        height: 160px;
        margin-bottom: 30px;
        -webkit-border-radius: 3px;
                border-radius: 3px; }
      section#contact form input::-webkit-input-placeholder {
        font-family: 'OpenSans-Regular', sans-serif;
        color: #82c8bd; }
      section#contact form input:-moz-placeholder {
        font-family: 'OpenSans-Regular', sans-serif;
        color: #82c8bd; }
      section#contact form input::-moz-placeholder {
        font-family: 'OpenSans-Regular', sans-serif;
        color: #82c8bd; }
      section#contact form input:-ms-input-placeholder {
        font-family: 'OpenSans-Regular', sans-serif;
        color: #82c8bd; }
      section#contact form textarea::-webkit-input-placeholder {
        font-family: 'OpenSans-Regular', sans-serif;
        color: #82c8bd; }
      section#contact form textarea:-moz-placeholder {
        font-family: 'OpenSans-Regular', sans-serif;
        color: #82c8bd; }
      section#contact form textarea::-moz-placeholder {
        font-family: 'OpenSans-Regular', sans-serif;
        color: #82c8bd; }
      section#contact form textarea:-ms-input-placeholder {
        font-family: 'OpenSans-Regular', sans-serif;
        color: #82c8bd; }

.social_links {
  margin-top: -150px;
  padding: 45px 0;
  background: #68a097; }
  .social_links ul {
    text-align: center; }
    .social_links ul li {
      display: inline-block;
      width: 60px;
      height: 60px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #82c8bd;
      vertical-align: middle; }
      .social_links ul li:hover {
        background: #fff; }
      .social_links ul li:hover i {
        color: #82C8BD; }
      .social_links ul li a i {
        font-size: 30px;
        line-height: 2;
        color: #fff; }
    .social_links ul li + li {
      margin-left: 40px; }

@media (max-width: 992px) {
  section header #logo {
    text-align: center; }
  section header ul {
    float: none; }
    section header ul li {
      padding: 13px 0;
      -webkit-border-radius: 4px;
              border-radius: 4px; }
      section header ul li:first-child {
        margin-left: 11%; }
  section#home .owl-carousel .owl-stage-outer .item {
    width: 70%; }
    section#home .owl-carousel .owl-stage-outer .item h1 {
      margin-top: 25px; }
      section#home .owl-carousel .owl-stage-outer .item h1:nth-child(1) {
        font-size: 48px; }
      section#home .owl-carousel .owl-stage-outer .item h1:nth-child(2) {
        font-size: 110px; }
  section#work .tab_content {
    width: 540px;
    margin-left: 12.5%; }
  section#contact h2 {
    margin-left: 0;
    text-align: center; }
  section#contact .map {
    margin-top: 10px; } }

@media (max-width: 768px) {
  section {
    min-height: 620px; }
    section header ul {
      float: none; }
      section header ul li:first-child {
        margin-left: 0; }
      section header ul li:not(:first-child) {
        display: none; }
      section header ul li.icon {
        float: right;
        display: block; }
    section header ul.responsive {
      position: relative; }
      section header ul.responsive li {
        float: none;
        display: block;
        width: 100%;
        margin-left: 0;
        padding: 13px 0 13px 25px;
        text-align: left;
        -webkit-border-radius: 0;
                border-radius: 0; }
        section header ul.responsive li:hover {
          background: rgba(116, 199, 213, 0.3) !important; }
      section header ul.responsive li.icon {
        padding: 13px 0;
        width: 100px;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center; }
    section#home .owl-carousel {
      top: 250px; }
      section#home .owl-carousel .owl-stage-outer .item h1 {
        text-align: center; }
        section#home .owl-carousel .owl-stage-outer .item h1:nth-child(1), section#home .owl-carousel .owl-stage-outer .item h1:nth-child(2) {
          width: 100%; }
        section#home .owl-carousel .owl-stage-outer .item h1:nth-child(2) {
          font-size: 60px; }
      section#home .owl-carousel .owl-next {
        top: 60px;
        right: 0;
        -webkit-transform: translateY(50%);
            -ms-transform: translateY(50%);
                transform: translateY(50%); }
      section#home .owl-carousel .owl-prev {
        top: 60px;
        left: 0;
        -webkit-transform: translateY(50%);
            -ms-transform: translateY(50%);
                transform: translateY(50%); }
    section#home .owl-dots .owl-dot span {
      margin-right: 0 !important; } }
