/*--- Colors ---*/

$color-home: #74c7d5
$color-services: #df5c64
$color-about: #91778e
$color-about-popup: #91778e
$color-work: #a1ca6c
$color-work-portfolio-menu-hover: #a1ca6c
$color-contact: #82c8bd
$color-contact-subHeader: #c0dfda
$color-contact-info: #d0efea
$color-contact-bg-form: #68a097
$color-contact-button: #df5c64
$color-contact-button-shadow: #b24a50

/*--- Var ---*/

@mixin placeholder()
  input::-webkit-input-placeholder
    @content
  input:-moz-placeholder
    @content
  input::-moz-placeholder
    @content
  input:-ms-input-placeholder
    @content
  textarea::-webkit-input-placeholder
    @content
  textarea:-moz-placeholder
    @content
  textarea::-moz-placeholder
    @content
  textarea:-ms-input-placeholder
    @content    


body
	background: #222
	color: #fff

	ul,li
		margin: 0
		padding: 0

	p
		font: 14px/1.5 'OpenSans-Regular';

	a:hover, a:focus 
		color: #fff
		text-decoration: none

section
	height: 1000px
	margin: 0 auto
	overflow: hidden
	
	
	header

		#logo

			padding-top: 8px
			font: 50px/1.5 'Damion', sans-serif
			text-align: left 
	
		ul
			float: right
			margin: 0
			padding: 0
	
			li
				float: left
				width: 100px
				padding: 37px 0 13px 0
				list-style: none
				text-align: center
				border-radius: 0 0 4px 4px

				a
					font: 18px/1.5 'Regular', sans-serif
					font-size: 18px
					color: #fff
		
			li+ li
				margin-left: 8px;

	.header_box
			margin-top: 110px
			margin-bottom: 120px
			text-align: center

			h1
				margin-bottom: 40px
				text-transform: uppercase
				font: 60px/1 'OpenSans-Light', sans-serif

			h2
				text-transform: uppercase
				font: 20px/1 'OpenSans-Regular', sans-serif

				span 
					color: #ec9da2

			p
				font-size: 14px

	.services-box-sm
			padding: 40px 30px
			text-align: center

			h4
				margin-bottom: 45px
				text-transform: uppercase

			.icon
				display: inline-block
				margin-bottom: 25px
				border-radius: 50%
							
				img
					border-radius: 50%
				
	&#home
		background: url('../img/bg-home.jpg') 	
		background-size: cover	

		ul
	
			li

				&:hover,&.active
					background-color: #74c7d5

		.owl-carousel
			height: 170px
			top: 50%
			transform: translateY(-100%)

			.owl-stage-outer

				.item
					display: block
					width: 840px
					height: 170px
					margin: 0 auto
					border-radius: 3px
					background: rgba(255,255,255,0.3)

					h1
						display: inline-block
						text-transform: uppercase
						text-align: right
						vertical-align: top
						color: $color-home

						&:nth-child(1)
							width: 45%
							font: 60px/1 'OpenSans-Light', sans-serif

							span
								text-transform: none

						&:nth-child(2)
							width: 49%
							font: 140px/1 'OpenSans-Bold', sans-serif	
							line-height: 0.8
				
			.owl-next,
			.owl-prev
				width: 34px
				height: 56px
				position: absolute
				top: 0

			.owl-next
				top: 57px
				right: 48px
				background: url(../img/arrow-right.png)	

			.owl-prev
				top: 57px
				left: 48px
				background: url(../img/arrow-left.png)	

			.owl-dots
				margin-top: 15% 	

				.owl-dot

					&.active

						span
							background-color: #74c7d5

					span
						width: 20px
						height: 20px	
						margin-right: 40px
						background: rgba(255,255,255,0.5)

	&#services	
		background: url(../img/bg-services.jpg)
		background-size: cover	

		ul
	
			li

				&:hover,&.active
					background-color: $color-services
		
		
		.services-box-sm
			background: #c8535a		

			h4
				font: 30px/1 'OpenSans-Light', sans-serif

			.icon
				border: 5px solid #fff
			
				img
					border: 5px solid #c8535a

	&#about
		background: url(../img/bg-about.jpg)
		background-size: cover	

		header

			ul
		
				li

					&:hover,&.active
						background-color: $color-about

		.header_box
			margin-bottom: 58px			

		.box_bulb
			width: 276px	
			margin: 0 auto 70px auto
			padding: 17px 42px 15px 42px
			text-align: center
			border-radius: 4px
			background: #A1CA6C
			position: relative

			&:after
				content: ''
				display: block
				width: 0
				height: 0
				margin: 0 auto
				border-left: 15px solid transparent
				border-right: 15px solid transparent
				border-top: 15px solid #A1CA6C
				position: absolute
				right: 0
				left: 0
				bottom: -15px

			p
				margin: 0
				font: 25px/1 'OpenSans-Bold', sans-serif


		.services-box-sm
			background: rgba(76,63,75,0.5)	

			h4
				margin-bottom: 0
				font: 25px/1 'OpenSans-Bold', sans-serif	

			h5
				margin-bottom: 37px
				font: 14px/1 'OpenSans-Bold', sans-serif	
				color: #a1ca6c

			.social

				li
					display: inline-block

					a
						display: inline-block
						width: 31px
						height: 30px

				$param : 31px

				@for $i from 1 through 4 
				    li:nth-child(#{$i}) a 
				    	background: url('../img/bg-social.png') #{$param * ($i - 1) } 0
				    li:nth-child(#{$i}):hover a 
				    	background: url('../img/bg-social.png') #{$param * ($i - 1) } #{$param}	
	
				li + li
					margin-left: 19px
			
			.icon
				
				width: 155px
				height: 155px
				background: url('../img/about_icon.jpg')
				border: 5px solid #A1859E

		.services-box-sm:hover
			background: rgba(76,63,75,1)	

			h5
				color: #ff8973

			.icon
				background: url('../img/about_icon_hover.jpg')
				border: 5px solid #DF5C64

	&#work
		height: 1150px
		background: url(../img/bg-work.jpg)
		background-size: cover	

		header

			ul
			
				li

					&:hover,&.active
						background-color: $color-work

		.header_box
			margin-bottom: 60px				

		.gallery	
		
			max-width: 1100px
			margin: 0 auto 			

			.tab_links

				padding: 32px 0
				border-top: 1px solid #94b963
				border-bottom: 1px solid #94b963

				h4			
					float: left
					font-family: 'OpenSans-Bold' , sans-serif
					text-transform: uppercase

				ul
					float: right
					line-height: 40px;

					li
						float: left	

						a
							padding: 10px
							border-radius: 3px
							font-family: 'OpenSans-Bold' , sans-serif
							color: #fff

							&:hover
								background: #f5c149
					li.active

							a
								background: #f5c149

					li + li 
						margin-left: 45px

			.tab_content

				padding: 20px 0	

				.tab_content_elem
					width: 260px
					height: 250px
					margin: 20px 20px 0 0 
					padding: 0
					border-radius: 3px
					position: relative
					background: #000
					overflow: hidden

					p 
						width: 100%
						height: 50px
						margin: 0
						text-transform: uppercase
						text-align: center
						font: 14px/50px 'OpenSans-Regular' , sans-serif; 
						color: #727272
						background: #fff
						position: absolute
						bottom: 0
						z-index: 999	

						&:before
							content: ''
							display: block 
							margin: -20px auto 0 auto
							width: 0
							height: 0
							border-left: 20px solid transparent
							border-right: 20px solid transparent
							border-bottom: 20px solid #fff


				.tab_content_elem
					position: relative

					&:hover:after
						content: ''
						display: block
						width: 100%
						height: 200px
						position: absolute
						top: 0
						background: url('../img/hover-elem.png') no-repeat 50% center, linear-gradient(rgba(61,76,41,.7),rgba(61,76,41,.7))		
						cursor: pointer
						z-index: 999
				
					&:nth-child(4n)
						margin-right: 0	

	&#contact
		margin-bottom: 150px
		background: url('../img/bg-contact.jpg')
		background-size: cover	

		p
			margin: 0
			font-size: 16px

		header

			ul
			
				li

					&:hover,&.active
						background-color: $color-contact

		h2
			margin-left: 15px
			margin-bottom: 35px
			font: 30px/1 'OpenSans-Light' , sans-serif

		.street	
			margin-bottom: 75px 
			
			h4
				margin-bottom: 15px
				font: 20px/1 'OpenSans-Bold', sans-serif
				color: $color-contact-subHeader
					
		.info
			width: 200px

			p 	
				display: inline-block
				width: 70px
				color: $color-contact-info

			span
				
				a
					color: #fff
					text-decoration: underline

					&:hover
						text-decoration: none

		.map
			width: 260px
			height: 220px
			border-radius: 3px
			background: url('../img/map.jpg')

		form
			text-align: center

			input[type="text"],
			input[type="button"],
			textarea 
				padding: 15px 20px 
				border: 0
				outline: 0
				font-family: 'La'
				color: #b5b5b5
				background: $color-contact-bg-form

			input[type="text"]:focus,
			textarea:focus 
				background: #fff 	

			input[type="text"]
				width: 260px
				height: 40px
				margin-bottom: 20px
				border-radius: 3px
				font-size: 100%

				&:first-child
					margin-right: 15px		

			input[type="button"]
				width: 260px
				height: 50px
				border-radius: 3px
				background: $color-contact-button
				box-shadow: 0 5px 0 $color-contact-button-shadow
				text-transform: uppercase
				font: 30px/0.5 'OpenSans-Bold', sans-serif
				color: #fff

				&:active
					box-shadow: 0 2px 0 $color-contact-button-shadow
					transform: translateY(3px);

			textarea
				width: 540px
				height: 160px		
				margin-bottom: 30px
				border-radius: 3px

			@include placeholder()	
				font-family: 'OpenSans-Regular', sans-serif	
				color: $color-contact

.social_links
	margin-top: -150px
	padding: 45px 0
	background: #68a097
	
	ul
		text-align: center

		li
			display: inline-block
			width: 60px
			height: 60px
			border-radius: 50%
			background: #82c8bd
			vertical-align: middle

			&:hover
				background: #fff	

			&:hover i
				color: #82C8BD	

			a
				i 
					font-size: 30px
					line-height: 2
					color: #fff



		li + li
			margin-left: 40px	

